body{
    background-image: url('/images/fundo_verde.jpg');
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat; /* Adjust as needed */
    background-position: center;
    font-style: italic;
    
}